/* src/styles/global.css */
@import 'tailwindcss';
@source "../../src";
/* ─────────────────────────────────────────────────────────────
   Design Tokens
   ───────────────────────────────────────────────────────────── */
/* ─────────────────────────────────────────────────────────────
   Base Styles
   ───────────────────────────────────────────────────────────── */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/** {
  border: 1px solid red !important;
}*/
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}